@import '../../styles/settings';

.chatContainer {
    display: flex;
    flex: 5;
    justify-content: flex-end;
}

.chat {
    transition: all 0.5s ease-in-out;
    background-color: $white;
    border: 1px solid $blueGray;
    border-radius: $sSize;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
    align-self: flex-end;
}

.mobile {
    transition: all 0.5s ease-in-out;
    height: 540px;
    width: 360px;
    font-size: 10px;
    align-self: flex-end;
}

@media only screen and (max-width: $tabletSize) {
    .chat {
        width: 100%;
        flex: auto;
    }
}