@import '../../../styles/settings';

.modal {
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
        z-index: 2;
        pointer-events: none;

		.content {
            animation: slideIn 0.5s ease-out;
            border-radius: $sSize;
            display: flex;
            padding: $mSize;
			min-height: 400px;
			min-width: 600px;
            background-color: $white;
            pointer-events: all;
		}
	}
}

@keyframes slideIn {
	0% {
        opacity: 0;
		transform: translateY(-50%);
	}
	100% {
        opacity: 1;
		transform: translateY(0);
	}
}
