@import "../../../styles/settings";

.chatbotInfo {
  border-top: 1px solid $lightBlueGray;
  box-sizing: border-box;
  display: flex;
  margin-top: $sSize;
  padding: $mSize $lSize;

  .chatbotStatistics {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
  }
}
